In [7]:
from sqlalchemy.orm import mapped_column, Mapped, DeclarativeBase, Session
from sqlalchemy import create_engine,String, Integer, DateTime, ForeignKey


# Define URL
#dialect+driver://username:password@host:port/database_name
DB_URL = "mysql+pymysql://root:admin123@192.168.56.10:3306/testdb"

In [8]:
# create engine
engine = create_engine(url=DB_URL, echo=True)

In [9]:
# Create Base
class Base(DeclarativeBase): pass

In [10]:
# Create a Model (Table) 1
class Student(Base):
    __tablename__ = "students"

    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String(100), nullable=False)
    mobile: Mapped[str] = mapped_column(String(10), nullable=False)
    email: Mapped[str] = mapped_column(String(100), nullable=False)
    description: Mapped[str] = mapped_column(String(100), nullable=True)

In [11]:
# Create a Model (Table) 2
class Faculty(Base):
    __tablename__ = "faculties"

    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String(100), nullable=False)
    mobile: Mapped[str] = mapped_column(String(10), nullable=False)
    email: Mapped[str] = mapped_column(String(100), nullable=False)
    description: Mapped[str] = mapped_column(String(100), nullable=True)

In [12]:
# create tables if they do not exist
Base.metadata.create_all(bind=engine)

2025-10-28 21:21:28,020 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-10-28 21:21:28,021 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-28 21:21:28,024 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-10-28 21:21:28,025 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-28 21:21:28,026 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-10-28 21:21:28,027 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-28 21:21:28,030 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-28 21:21:28,032 INFO sqlalchemy.engine.Engine DESCRIBE `testdb`.`students`
2025-10-28 21:21:28,033 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-28 21:21:28,041 INFO sqlalchemy.engine.Engine DESCRIBE `testdb`.`faculties`
2025-10-28 21:21:28,042 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-10-28 21:21:28,045 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	mobile VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	description VARCHAR(100),
	PRIMARY KEY (id)
)


2025-10-28 21:21:28,046 INFO sqlalchemy.engine.Engine [no key 0.00098s] {}
2025-10-28 21:21:28,151 INFO sqlalchemy.engine.Engine
CREATE TABLE faculties (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	mobile VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	description VARCHAR(100),
	PRIMARY KEY (id)
)


2025-10-28 21:21:28,152 INFO sqlalchemy.engine.Engine [no key 0.00073s] {}
2025-10-28 21:21:28,233 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
from sqlalchemy.orm import Session

# SQLAlchemy 2.0 ORM-style block for inserting data using a Session
with Session(engine) as session:
    student1 = Student(name='std1', mobile='9999999', email='std1@gmail.com')
    session.add(student1)
    student2 = Student(name='std2', mobile='9999999', email='std2@gmail.com')
    session.add(student2)

    session.commit()

2025-10-28 21:21:33,515 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-28 21:21:33,517 INFO sqlalchemy.engine.Engine INSERT INTO students (name, mobile, email, description) VALUES (%(name)s, %(mobile)s, %(email)s, %(description)s)
2025-10-28 21:21:33,519 INFO sqlalchemy.engine.Engine [generated in 0.00175s] {'name': 'std1', 'mobile': '9999999', 'email': 'std1@gmail.com', 'description': None}
2025-10-28 21:21:33,533 INFO sqlalchemy.engine.Engine INSERT INTO students (name, mobile, email, description) VALUES (%(name)s, %(mobile)s, %(email)s, %(description)s)
2025-10-28 21:21:33,534 INFO sqlalchemy.engine.Engine [cached since 0.01711s ago] {'name': 'std2', 'mobile': '9999999', 'email': 'std2@gmail.com', 'description': None}
2025-10-28 21:21:33,538 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
# Get all students
from sqlalchemy import select


with Session(engine) as session:
    # Get all
    students = session.scalars(select(Student)).all()
    for student in students:
        print(student.name)

    # filter
    stmt = select(Student).where(Student.name == "std2")
    student = session.scalar(stmt)
    print(student.email)

2025-10-28 21:21:39,535 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-28 21:21:39,537 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.mobile, students.email, students.description
FROM students
2025-10-28 21:21:39,538 INFO sqlalchemy.engine.Engine [generated in 0.00065s] {}
std1
std2
2025-10-28 21:21:39,543 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.mobile, students.email, students.description
FROM students
WHERE students.name = %(name_1)s
2025-10-28 21:21:39,544 INFO sqlalchemy.engine.Engine [generated in 0.00100s] {'name_1': 'std2'}
std2@gmail.com
2025-10-28 21:21:39,548 INFO sqlalchemy.engine.Engine ROLLBACK