In [3]:
from sqlalchemy.orm import mapped_column, Mapped, DeclarativeBase, Session
from sqlalchemy import create_engine,String, Integer, DateTime, ForeignKey

# Define URL
DB_URL = "sqlite:///example.db"

In [4]:
# create engine
engine = create_engine(url=DB_URL, echo=True)

In [5]:
# Create Base
class Base(DeclarativeBase): pass

In [6]:
# Create a Model (Table) 1
class Student(Base):
    __tablename__ = "students"

    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String(100), nullable=False)
    mobile: Mapped[str] = mapped_column(String(10), nullable=False)
    email: Mapped[str] = mapped_column(String(100), nullable=False)
    description: Mapped[str] = mapped_column(String(100), nullable=True)

In [7]:
# Create a Model (Table) 2
class Faculty(Base):
    __tablename__ = "faculties"

    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String(100), nullable=False)
    mobile: Mapped[str] = mapped_column(String(10), nullable=False)
    email: Mapped[str] = mapped_column(String(100), nullable=False)
    description: Mapped[str] = mapped_column(String(100), nullable=True)

In [8]:
# create tables if they do not exist
Base.metadata.create_all(bind=engine)

2025-10-27 16:21:25,461 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-27 16:21:25,463 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2025-10-27 16:21:25,464 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-27 16:21:25,466 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")
2025-10-27 16:21:25,467 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-27 16:21:25,468 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("faculties")
2025-10-27 16:21:25,469 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-27 16:21:25,471 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("faculties")
2025-10-27 16:21:25,473 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-27 16:21:25,475 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	mobile VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	description VARCHAR(100),
	PRIMARY KEY (id)
)


2025-10-27 16:21:25,476 INFO sqlalchemy.engine.Engine [no key 0.00076s] ()
2025-10-27 16:21:25,483 INFO sqlalchemy.engine.Engine
CREATE TABLE faculties (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	mobile VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	description VARCHAR(100),
	PRIMARY KEY (id)
)


2025-10-27 16:21:25,484 INFO sqlalchemy.engine.Engine [no key 0.00152s] ()
2025-10-27 16:21:25,490 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
from sqlalchemy.orm import Session

# SQLAlchemy 2.0 ORM-style block for inserting data using a Session
with Session(engine) as session:
    student1 = Student(name='std1', mobile='9999999', email='std1@gmail.com')
    session.add(student1)
    student2 = Student(name='std2', mobile='9999999', email='std2@gmail.com')
    session.add(student2)

    session.commit()

2025-10-27 16:21:25,665 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-27 16:21:25,670 INFO sqlalchemy.engine.Engine INSERT INTO students (name, mobile, email, description) VALUES (?, ?, ?, ?) RETURNING id
2025-10-27 16:21:25,672 INFO sqlalchemy.engine.Engine [generated in 0.00023s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('std1', '9999999', 'std1@gmail.com', None)
2025-10-27 16:21:25,676 INFO sqlalchemy.engine.Engine INSERT INTO students (name, mobile, email, description) VALUES (?, ?, ?, ?) RETURNING id
2025-10-27 16:21:25,677 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('std2', '9999999', 'std2@gmail.com', None)
2025-10-27 16:21:25,678 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
# Get all students
from sqlalchemy import select


with Session(engine) as session:
    # Get all
    students = session.scalars(select(Student)).all()
    for student in students:
        print(student.name)

    # filter
    stmt = select(Student).where(Student.name == "std2")
    student = session.scalar(stmt)
    print(student.email)

2025-10-27 16:21:25,953 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-27 16:21:25,956 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.mobile, students.email, students.description
FROM students
2025-10-27 16:21:25,957 INFO sqlalchemy.engine.Engine [generated in 0.00162s] ()
std1
std2
2025-10-27 16:21:25,962 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.mobile, students.email, students.description
FROM students
WHERE students.name = ?
2025-10-27 16:21:25,963 INFO sqlalchemy.engine.Engine [generated in 0.00100s] ('std2',)
std2@gmail.com
2025-10-27 16:21:25,966 INFO sqlalchemy.engine.Engine ROLLBACK